<mat-toolbar color="primary">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Search"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of options | async" [value]="option.Title">
          <a class="link" [routerLink]="['/description', option.imdbID]">
              {{option.Title}}
          </a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>